* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 16px;
  color: #2a2b32;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  padding: 10px;
}

textarea {
  width: 840px;
  height: 300px;
  padding: 10px;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid #2a2b32;
  border-radius: 5px;
  outline: none;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(15, max-content);
  gap: 5px;
  padding: 10px;
  background-color: #888;
  border-radius: 5px;
}

.keyboard__btn {
  padding: 0;
  font-size: inherit;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #2a2b32;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-radius 0.3s;
}

.keyboard__btn-item {
  min-width: 50px;
  min-height: 50px;
  padding: 5px;
}

.keyboard__btn-item:not([hidden]) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard__btn.animated {
  background-color: #fc8b00;
  border-radius: 25px;
}

.keyboard__btn:hover {
  background-color: #fc8b00;
}

.keyboard__btn:active {
  background-color: #fc8b00;
  border-radius: 25px;
}

.col-2 {
  grid-column: span 2;
}

.col-6 {
  grid-column: span 6;
}